
<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/background.png);">
  <div class="container">
    <h1>Lists index</h1>
    <p>Your favorite categories</p>
  </div>
</div>


<div class="container">
  <div class="grid">
    <% @lists.each do |list| %>

      <%= link_to list_path(list) do %>
        <% if list.photo.attached? %>
          <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= cl_image_path list.photo.key %>)">
            <%= list.name %>
          </div>
        <% else %>
          <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url()">
            <%= list.name %>
          </div>
        <% end %>
      <% end %>

    <% end %>
    <%= link_to "Add a new list", :new_list, class: 'btn btn-ghost bouton-center' %>
  </div>
</div>
